# General
HELP.md
target/
*.log
*.tmp
*.swp

# Maven
.mvn/
!.mvn/wrapper/maven-wrapper.jar

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

# VS Code
.vscode/

# OS-specific
.DS_Store
Thumbs.db
desktop.ini

# Spring Boot
*.class
*.jar
*.war
*.ear

# Logs
logs/
*.log
*.out
*.err

# Temporary files
*.tmp
*.bak
*.swp
*.swo